/*
* Gnat: Minimal flexbox framework.
* Sets the base style and then provides tools for layout.
*/
/* Style */

html {font-size:10px;}

html, body, div, form { box-sizing:border-box;padding:0;margin:0; }
html, body { height:100%;width:100%; }

body { font-size:8px;overflow-y:scroll;display:flex; }

p { font-size:2em; }
h1 { font-size:3em; }
h2 { font-size:2.8em; }
h3 { font-size:2.6em; }
h4 { font-size:2.4em; }

button, .button, input, textarea, select {
	border-radius:2px;
	font-size:2em;
	background:#CCC;
	border:0.1rem solid #999;
	resize:none;
	margin:0.3rem;
}

input:focus, textarea:focus, select:focus, button:hover, .button:hover { background:#fff; }


/* Layout */

.pad, .flex { padding:1.25rem; }
.flex { justify-content:space-around;display:flex; }
.col { flex-direction:column; }
.mrg { margin:1.25rem; }
.auto { margin:auto; }
.fill { margin:-1.25rem; }

.one {flex-grow:1;}
.two {flex-grow:2;}
.three {flex-grow:3;}
.four {flex-grow:4;}
.five {flex-grow:5;}
.six {flex-grow:6;}
.seven {flex-grow:7}
.eight {flex-grow:8}
.nine {flex-grow:9}
.ten {flex-grow:10}
.eleven {flex-grow:11}
.twelve {flex-grow:12}

.full {width:calc(100% - 1.25rem);}
.half {width:calc(50% - 1.25rem);}
.third {width:calc(33.33% - 1.25rem);}
.quarter {width:calc(25% - 1.25rem);}
.fith {width:calc(20% - 1.25rem);}
.sixth {width:calc(20% - 1.25rem);}
.seventh {width:calc(20% - 1.25rem);}
.eighth {width:calc(12.5% - 1.25rem);}

.start {align-self:flex-start;}
.center {align-self:center;}
.end {align-self:flex-end;}

@media only screen and (max-width:750px) {
	body, .flex {flex-direction:column;}
	.fullw, .halfw, .thirdw, .quarterw, .fithw, .eigthw {width:calc(100% - 2.5rem);height:auto;}
	.end, .center, .start {align-self:stretch;}
}

